body {
    background-color: #DDD;
    text-align: center;
    font-family: Century Gothic, Arial, Helvetica;
}

.floating {
    position: absolute;
}

.fades {
    transition: all 0.1s linear;
}
    
.ui-tooltip-content {
    font-family: Century Gothic, Arial, Helvetica;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

#titlebar {
    text-align: left;
    height: 0;
}

#config-toggle {
    left: 1%;
}

#github {
    right: 1%;
}

#calculator {
    margin: 5px 0;
    width: 35%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

#config-form {
    text-align: left;
}
#config-form label,
#config-form input,
#config-form textarea {
    margin: 5px 0;
    width: 99%;
}
#config-form textarea {
    resize: vertical;
}

#notes ul {
    list-style: none;
}
#notes div {
    float: left;
}
#notes-left {
    width: 59%;
}
#notes-right {
    width: 40%;
}

#visuals div {
    display: inline-block;
}
    
#sunburst {
    width: 40%;
}

#sunburst path {
    stroke: white;
    fill-rule: evenodd;
    opacity: 0.8;
}

#sunburst path:hover {
    opacity: 1;
}

#sunburst .toggle {
    width: 5%;
    right: 0%;
}

#sunburst .toggle:hover {
    opacity: 0.7;
}

#sunburst .legend {
    background-color: rgba(255,255,255,0.9);
    top: 1%;
    left: 59%;
    width: 40%;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
}

#sunburst .legend ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sunburst .legend li {
    padding: 1%;
    width: 48%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
}

#sunburst .legend li.root {
    width: 98%;
}

#sunburst .legend .leaf {
    text-align: left;
    font-weight: normal;
}

#sunburst .legend .highlighted {
    box-shadow: 0px 0px 5px #000 inset;
}
    
#area_bar {
    margin: auto;
    position: relative;
    width: 59%;
    font-size: 10px;
}

#area_bar .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}